In [1]:
import pandas as pd
import matplotlib.pyplot as plt
cars_prise={
"years": [2015, 2016, 2017, 2018, 2019],
'prices': [400000, 420000, 450000, 480000, 500000]
}
df=pd.DataFrame(cars_prise)
df.to_excel(cars_prise)
print("excel prise is created")
# data = pd.read_excel("residantal coatching.xlsx")
# df=pd.DataFrame(data)
# print(data)
# df

ValueError: Invalid file path or buffer object type: <class 'dict'>

In [9]:
df

,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,S NO,name,age
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,saikumar,20
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,pavan,25
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3,helo,30
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4,sairam,45
4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5,prabhas,82
5,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,6,ramcharan,47
6,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,7,sunil,62
7,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,8,gopi,20
8,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,9,raju,20
9,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN,10,king,25
10,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,9,raju,20
11,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,NaN,10,king,25
12,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,NaN,9,raju,20
13,13.0,13.0,13.0,13.0,13.0,13.0,13.0,13.0,NaN,10,king,25
14,14.0,14.0,14.0,14.0,14.0,14.0,14.0,14.0,NaN,9,raju,20
15,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,NaN,10,king,25
16,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,NaN,9,raju,20
17,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,NaN,10,king,25
18,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,NaN,9,raju,20
19,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,NaN,10,king,25
20,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,NaN,9,raju,20
21,21.0,21.0,21.0,21.0,21.0,21.0,21.0,21.0,NaN,10,king,25
22,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,NaN,100,gggg,54
23,23.0,23.0,23.0,23.0,23.0,23.0,23.0,NaN,NaN,9,raju,20
24,24.0,24.0,24.0,24.0,24.0,24.0,24.0,NaN,NaN,10,king,25
25,25.0,25.0,25.0,25.0,25.0,25.0,25.0,NaN,NaN,100,gggg,54
26,26.0,26.0,26.0,26.0,26.0,26.0,26.0,NaN,NaN,9,raju,20
27,27.0,27.0,27.0,27.0,27.0,27.0,27.0,NaN,NaN,10,king,25
28,28.0,28.0,28.0,28.0,28.0,28.0,28.0,NaN,NaN,100,gggg,54
29,29.0,29.0,29.0,29.0,29.0,29.0,NaN,NaN,NaN,9,raju,20
30,30.0,30.0,30.0,30.0,30.0,30.0,NaN,NaN,NaN,10,king,25
31,31.0,31.0,31.0,31.0,31.0,31.0,NaN,NaN,NaN,100,gggg,54
32,32.0,32.0,32.0,32.0,32.0,NaN,NaN,NaN,NaN,9,raju,20
33,33.0,33.0,33.0,33.0,33.0,NaN,NaN,NaN,NaN,10,king,25
34,34.0,34.0,34.0,34.0,34.0,NaN,NaN,NaN,NaN,100,gggg,54
35,35.0,35.0,35.0,35.0,NaN,NaN,NaN,NaN,NaN,9,raju,20
36,36.0,36.0,36.0,36.0,NaN,NaN,NaN,NaN,NaN,10,king,25
37,37.0,37.0,37.0,37.0,NaN,NaN,NaN,NaN,NaN,100,gggg,54
38,38.0,38.0,38.0,38.0,NaN,NaN,NaN,NaN,NaN,9,raju,20
39,39.0,39.0,39.0,39.0,NaN,NaN,NaN,NaN,NaN,10,king,25
40,40.0,40.0,40.0,40.0,NaN,NaN,NaN,NaN,NaN,100,gggg,54
41,41.0,41.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,9,raju,20
42,42.0,42.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,10,king,25
43,43.0,43.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,100,gggg,54
44,44.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,raju,20
45,45.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,king,25
46,46.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,gggg,54
47,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,raju,20
48,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,king,25
49,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,gggg,54
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,raju,20
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,king,25
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,gggg,54